


   

header{ 
    border: solid .2vw black;
    
    
}

section{ 
    border: solid .2vw black;
    
    
}

footer{
    border: solid .2vw black;
   
}

#hero{
    border: solid .2vw black;
    

}

.right{
    float: right;
    

}
.left{
    float: left;
  
    }

article{
    border: solid .2vw black;
   
    
}