@media (max-width: 960px){
    body{height: 100vw;
    font-size: 3vw;
}

    header{
        height: 10vw;
        width: 100vw;
        background-color: darkslategray;
        line-height: 2.5;
    }
    
    .subhero1{
        height:16vw;
        width: 100vw;
        background-color: darkturquoise;
        line-height: 5;
    }
    .subhero2{
        height:16vw;
        width: 100vw;
        background-color: purple;
        line-height: 5;
    }
    
    footer{
        height: 10vw;
        width: 100vw;
        clear: both;
        background-color: deeppink;
        line-height: 4;
    }
    #hero{
        height: 20vw;
        width: 100vw;
        background-color: firebrick;
        line-height: 7;
    }
    
    
    
    
    .right{
       
        height: 49vw;
        width: 49.5vw;
        background-color: fuchsia;
        line-height: 12;
        /* border: solid .2vw black; */
    }
    .left{
        
        height: 49vw;
        width: 49.7vw;
        background-color: gold;
        line-height: 12;
        border: solid .2vw black;
    }
    
    
    #foursquare{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;  
    } 
    /* article{
        height: 50vw;
        width: 50vw;   
    } */

}


@media (min-width: 960px){
    #container{
        background-color: cadetblue;
        font-size: 4vw;
        color: orange;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;            
    }


    #tophalf{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 79vw;
        
        
       
    }


    header{
        width: 100vw;
        height: 13vw;
        background-color: coral;
        line-height: 2;
        
    }
    
    .subhero2{
        width:50%;
        height:26vw;
        background-color: blueviolet;
        line-height: 5;

            
    }
    .subhero1{
        width:50%;
        height:26vw;
        background-color: bisque;
        line-height: 5;
             
    }
    
    footer{        
        width: 100%;
        height: 20vw;
        background-color: cornsilk;
        line-height: 5;
    }
    #hero{
        width: 20.6vw;
        height: 78vw;       
        background-color: darkgreen;
        line-height: 14;
    }   
    
    
    .article{
        width: 25%;
        height: 32vw;
        background-color: darkgray;
        line-height: 6;
        border: solid black .1vw;
    }    

}